* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: row;
}

.header {
    width: 50%;
   display: flex;
    background-color: #c4c4c4;
    height: 5rem;
}

.icon {
    width: 3%;
    display: flex;
    flex-direction: row;
    height: 4rem;
    gap: 4rem;
    margin: 1%;
}

.arrow-icon {
    width: 4%;
    height: 2rem;
    transform: rotate(180deg);
    margin-top: 0.7rem;
}

.right-text {
    margin-top: 1rem;
}

.arrow-right {
    display: flex;
    justify-content: right;
    width: 100%;
    margin: 1%;
}

.header-02 {
    width: 50%;
    display: flex;
    background-color: black;
    height: 5rem;
    justify-content: space-between;
}

.text-right {
    color: white;
    margin: 2%;
    font-size: larger;
}

.menu-icon {
    width: 14%;
    display: flex;
    flex-direction: row;
    height: 4rem;
    margin: 1%;
    margin-right: 3rem;
    gap: 3rem;
}

.text-menu {
    color: white;
    margin-top: 1rem;
}

.main-content {
    background-color: #c4c4c4;
    width: 50%;
    height: 61rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.white-box {
   background-color: #F2EFE5;
   width: 70%;
   height: 80%;
   border-radius: 2rem;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   gap: 1rem;
}

.grey-box {
    background-color: #C4C4C4;
    width: 90%;
    height: 10rem;
    display: flex;
    border-radius: 2rem;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}

.line {
    width: 0.01rem;
    height: 8rem;
    background-color: black;
    margin-left: 1rem;
}

.grey-box img {
    height: 7rem;
    width: auto;
    margin-left: 1rem;
}

.main-text {
    display: flex;
    flex-direction: row;
    gap: 6rem;
    margin-right: 12rem;
    margin-top: 3rem;
}

.options-text {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.options-text02 {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.quantidade {
    width: 2rem;
}

.main-title {
    margin-left: 1rem;
}

